*{
    box-sizing: border-box
}

body{
    font-family: 'exo', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 1.9;
    padding: 30px;
}

.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 25px 0 black;
}

.navbar *{
    display: inline;
}

.navbar li{
    margin: 20px;
}

.navbar li a{
    color: aliceblue;
    text-decoration: none;
}

.logo .name{
    color: aliceblue;
    text-decoration: none;
    text-align: left;
}

.navbar .links{
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none

}



header{
    padding: 35px;
    height: 600px;
    font-family: 'Vollkorn', serif;
}


.wrapper{
    display: flex;
    flex-direction: column;
}

.apps-1{
    background-color: #F05E5E;
}

.apps-2{
    background-color: #F4B640;
}

.apps-3{
    background-color: #3464CE;
}

footer {
    clear: both;
    margin-bottom: 0;
    padding: 1% 0;
    background-color: black;
    color: aliceblue;
}

.collapsible {
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

 .content{
    padding: 0 18px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

footer li a{
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}




/*tablet and desktop mode*/

@media only screen and (min-width: 600px) {
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 240px;
    }

    .apps-1{
        flex: 0 0 33%;
    }

    .apps-2{
        flex: 1;
    }

    .apps-3{
        flex: 1;
    }

    .collapsible {
        display: none
    }  

}
